@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.outer {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

form {
    min-width: 300px;
    width: 30%;
    padding: 2%;
}

legend {
    overflow: hidden;
    text-align: center;
    padding: 5%;
    color: #007f61;
    font-weight: 600;
    font-size: large;
}

legend:before,
legend:after {
    background-color: #c8c8c8;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

legend:before {
    right: 0.5em;
    margin-left: -50%;
}

legend:after {
    left: 0.5em;
    margin-right: -50%;
}

fieldset {
    display: flex;
    padding: 4%;
    margin-bottom: 5%;
    border: 2px solid #c8c8c8;
    border-radius: 2px;
}

[type=radio] {
    accent-color: #007f61;
}
#middle{
    grid-template-columns: auto auto auto;
}

label {
    align-items: center;
    width: 100%;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
}

label>section {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}


.add {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: #007f61;
    margin: 15px 0 5px 0;
    cursor: pointer;
    border-radius: 3px;
}

.add:hover {
    background-color: #007f61;
    box-shadow: 1px 1px 1px #edf8f5;
}

select.dropdown {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    text-indent: 2px;
    border-radius: 2px;
}

table th {
    text-align: start;
    font-weight: 300;
}

table tr {
    font-size: 10px;
}
table td>select{
    width: 100%;
}

.extStyle {
    background-color:#f4fbf9;
    border: 2px solid #007f61;
    display: flex;
}
del{
    color:#c8c8c8;
    font-size: 12px;
}